<div data-role="header">



  <h1> Edit Task</h1>

  <%= link_to 'Back', @todolist.todo, {"data-icon" =>"back", "class" => "ui-btn-left", "data-theme"=>"b"} %>
  <%= link_to 'Show', @todolist, {"data-icon" =>"star", "class" => "ui-btn-right", "data-theme"=>"b"} %>
  <!-- end .header --></div>

<div data-role="content" data-theme="b" data-transition= "flip">
  <ul data-role="listview" data-inset="true" data-theme="b">




<%= render 'form' %>

  </ul>
  <!-- end .content --></div>
