
</head>
<div data-role="header">


<p><%=if $name
         $name.capitalize
       end
%> Todos Subject List</p>

<p>Logged in through <%=if $provider
                           $provider.capitalize end %></p>




  <!-- end .header --></div>



<div data-role="content" data-theme="b" data-transition= "flip" >

  <ul data-role="listview" data-filter="true" data-inset="true" data-theme="e">


<% @todos.each do |todo| %>


    <li><%=  link_to  todo.subject ,todo %></li>




    <div data-role="navbar"  data-inset="true">

    <ul>



    <li><%= link_to 'Delete', todo, method: :delete, data: { confirm: 'Are you sure?' } %> </li>
    </ul>

    </div>


<% end %>
 </ul>


  <!-- end .content --></div>
