

<div data-role="header">



  <h1> New Subject</h1>

  <%= link_to 'Back', todos_path, {"data-icon" =>"back", "class" => "ui-btn-left"} %>
  <!-- end .header --></div>

<div data-role="content" data-theme="b" data-transition= "flip">
  <ul data-role="listview"  data-inset="true" data-theme="a">


<%= render 'form' %>





</ul>
<!-- end .content --></div>
