<h1>The following Todo list has been created using web application <%= link_to 'zulstodo.herokuapp.com','http://zulstodo.herokuapp.com'  %></h1>


<h2> Todo  <%= @todo.subject %></h2>
<blockquote>
  <% @todo.todolists.order(:priority).each do |list| %>
      <li>
        <%=list.task%>     Priority= <%=list.priority %>
      </li>
  <% end %>
</blockquote>
<h2> Todo  END</h2>